
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col-md-12">
        <label>Se ha cambiado la contraseña exitosamente. <br /> Por favor inicie sesión con sus nuevos datos</label>
    </div>
    <p>
        <a href="@Url.Action("LogOut", "Login", new {area=""})">Iniciar sesión</a>
    </p>
</div>
