
@{
    ViewBag.Title = "PasswordChanged";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-10">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Se ha cambiado la contraseña exitosamente. Por favor inicie sesión con sus nuevos datos</label>
        </div>
    </div>
    <div class="form-group">
        <a href="~/">Iniciar sesión</a>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}