@model Cc.Upt.Domain.Company

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="@Url.Action("Save", "Company")" enctype="multipart/form-data" id="form">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Nombre
                </label>
                <input type="text" name="Name" class="form-control" data-rule-required="true" data-msg-required="El nombre es requerido" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">
                    Fecha de finalización de soporte
                </label>
                <div class="input-group date" id="DateEndSupport">
                    <input type="text" class="form-control" name="DateEndSupport" data-rule-required="true" data-msg-required="Fecha final de soporte es requerida" onkeydown="return false;" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>
    <div class="row text-center">

        <div class="col-md-2 col-md-offset-4">
            <input type="submit" id="save" value="Guardar" class="btn btn-primary btn-block" />
        </div>
        <div class="col-md-2">
            <input type="button" onclick="window.location.href = '@Url.Action("Index")'" value="Volver al listado" class="btn btn-warning  btn-block" />
        </div>
    </div>
</form>

@section Scripts {

    <script>

        $(document).ready(function () {

            $('#DateEndSupport').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                language: "es"
            });
        });

    </script>
}
