@model IEnumerable<Cc.Upt.Domain.Company>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("Create")">
            <button type="submit" class="btn btn-primary"> Nueva compañía</button>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Fecha finalización soporte
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEndSupport)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
