@using Cc.Common.Enumerations
@model IEnumerable<Cc.Upt.Domain.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Crear nueva compañia", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Fecha finalización soporte
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEndSupport)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
